@import url('https://fonts.googleapis.com/css?family=Glegoo');

body {
  font-family: 'Glegoo', sans-serif;
  font-variant: small-caps;
  font-size: 3.4mm;
  line-height: 4mm;
  color: #222;
}

.grid{
  width: 21cm;
  display:grid;
  grid-gap: 2mm;
  grid-template-columns: 45mm 20mm 1mm 118mm 1fr;
  grid-template-rows: 5mm 45mm 5mm 55mm 50mm;
  grid-template-areas:  "name name . dev c"
                        "main main . dev c"
                        "hp hp . dev c"
                        "items skills . dev c"
                        "luggage skills . addons addons"
}
.main { grid-area: main }
.name { grid-area: name }
.skills { grid-area: skills }
.items { grid-area: items }
.luggage { grid-area: luggage }
.devel { grid-area: dev }
.c { grid-area: c }
.hp { grid-area: hp }
.addons { grid-area: addons }

.skills, .items, .hp, .addons {
  padding: 0 1mm;
}

.skills li {
  background: transparent url("5.svg") no-repeat bottom right;
  padding-bottom: 1.5mm;
  margin-bottom: 0.5mm;
  height: 3.5mm;
}

.grid>div {
  border: 1px solid #777;
  position: relative;
}

.main {
  background: transparent url('char.jpg') no-repeat center;
  background-size: contain;
  position: relative;
}

.main>img {
  position: absolute;
}
.main .head{
  top: 3mm;
  right: 14mm;
}
.main .chest{
  top: 13mm;
  right: 25mm;
}
.main .left {
  top: 18mm;
  left: 8mm
  
}
.main .right {
  top: 18mm;
  right: 8mm
}
.main .left2 {
  top: 32mm;
  left: 8mm
  
}
.main .right2 {
  top: 32mm;
  right: 8mm
}

.hp {
  text-align: right;
  line-height: 5mm;
  color: #222;
  font-size: 2.5mm;
}

li img {
  display:block;
}

.chart {
  padding: 3mm;

}

.chart>*{
  display:block;
  float:left;
  width:7mm;
  height: 7mm;
  border: 0.2mm solid #222;
  border-bottom:none;
  border-right:none;
  position: relative;
/*   overflow:hidden; */
  color: #222;
}
  .chart i:before,
  .chart i:after {
    content: '';
    width: 100%;

    position: absolute;
    left: -0mm;
    top: 3.44mm;
  }
  .chart i:before {

    border-bottom-width: 0.4mm;
    border-bottom-style: solid;

    transform: skewY(-45deg);
  }
  .chart i:after {
     border-bottom-width: 0.4mm;
    border-bottom-style: solid;
    transform: skewY(45deg);
  }


.chart i:nth-child(11n+1){
  clear:both;
}
.chart i:nth-child(11n) {
  width:35mm;
  color: transparent;
}
.chart i:nth-child(n+111) {
  color: transparent;
  height: 30mm;
}


.chart>i>div{
  display:block;
  position: absolute;
  border: 0.2mm solid #222;
  width:3mm;
  height:3mm;
  line-height:3mm;
  top: -2mm;
  left: -2mm;
  border-radius: 50%;
  background:#fff;
  z-index:2;
  overflow:hidden;
  font-size: 2mm;
  text-align: center;
  font-style:normal;
  font-weight: bold;
}

.chart .legend {
  color:#222;
  width: 35mm;
  height: 30mm;
  font-size: 3mm;
  font-variant: small-caps;
}
.legend .special {
  display:block;
  text-align: center;
}
.legend .other {
  display:block;
  transform-origin: 0 5mm;
  transform: rotate(90deg);
}

.addons {
  /*! columns: 3; */
  padding: 1mm;
  font-size: 0.7em;
}
.addons table{
  line-height: 0.8em
}


ul, li {
  list-style-type: none;
  margin: 0;
  padding:0;

}

.name:before{
  content:"name";
}
.hp:before{
  content:"health";
}
.items:before{
  content:"possesions - carrying";
}
.luggage:before{
  content:"possesions";
}
.skills:before{
  content:"traits";
}
.devel:before{
  content:"skill development";
}
.addons:before{
  content:"basic rules";
}
.grid>div:before{
  color: #222;
  background: #fff;
  padding: 0 1mm;
  font-size: 2.2mm;
  line-height: 3mm;
  top: -2mm;
  left: 1mm;
  position:absolute;
}

.luggage {
  text-align: right;
  padding: 1mm
}
/*=================*/
.cards {
  margin: 2mm 0;
}

.card{
  width: 5cm;
  height: 67mm;
  border: 1px solid #222;
  float:left;
  margin: 1mm 1mm 0 0;
}
.card li:first-child {
  height: 27.5mm;
  border-top: none;
  text-align: right;
}
.card li {
  border-top: 1px solid #444;
  padding: 1px 3px;
}
.card li img {
  float:right;
  margin-top: 2mm;
}